<h2 class='name'><img src='{{flags.svg}}' width='50' style="margin-right: 20px;" />{{name.official}}</h2>
<ul style="list-style: none;">
  <li><b>Capital:</b> {{capital}}</li>
  <li><b>Population:</b> {{population}}</li>
  <li><b>Languages:</b>
    {{#each languages}} -{{this}} {{/each}}
  </li>
</ul>